/* This is a comment */

/* CSS Syntax:


selector{
  property: value;
  property: value;
}


*/

/* Type Selector */

p { /*all <p> */
  font-size: 1em; /*16px, ?pt, 100%, 1em (m width) */
  line-height: 1.5em;
}
